@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body{
  font-family: 'Ubuntu', sans-serif !important;
}

nav {
    color: black;
    background-color: #ffeb3b;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

#main_bg{
	margin-top: -1%;
	z-index: -1;
	position: fixed;
}


#logo{

	height: 25%;
	width:	25%;
}

form{
	margin-left: 20%;
	margin-top: 1%;
	position: absolute;
}


#multiple_prod{
	width: 30%;
}

#customer_row{
	margin-top: 10%;
	margin-left: 53%;
}

#invoice_row{
	margin-top: 15%;
}